# This notebook is code to accompany article Accelerate Complicated Statistical Test for Data Scientist with Pingouin

Article: https://towardsdatascience.com/accelerate-complicated-statistical-test-for-data-scientist-with-pingouin-f98f29184400?sk=c4367326b2b1b77586a34aff608d5840

In [1]:
import seaborn as sns
mpg = sns.load_dataset('mpg')

In [2]:
import pingouin as pg

In [8]:
pg.normality(mpg, dv = 'mpg', group = 'origin')

               W          pval  normal
usa     0.937563  8.645629e-09   False
japan   0.979735  2.419653e-01    True
europe  0.951221  8.405079e-03   False

In [13]:
pg.homoscedasticity(data = mpg, dv = 'mpg', group = 'origin')

          W      pval  equal_var
levene  0.1  0.904917       True

In [16]:
pg.anova(data = mpg, dv = 'mpg', between = 'origin')

   Source  ddof1  ddof2       F         p-unc    np2
0  origin      2    395  98.542  1.915486e-35  0.333

In [17]:
pg.pairwise_tukey(data = mpg, dv = 'mpg', between = 'origin' )

,A,B,mean(A),mean(B),diff,se,tail,T,p-tukey,hedges
0,europe,japan,27.891,30.451,-2.559,1.051,two-sided,-2.436,0.039606,-0.398
1,europe,usa,27.891,20.084,7.808,0.866,two-sided,9.018,0.001000,1.217
2,japan,usa,30.451,20.084,10.367,0.826,two-sided,12.544,0.001000,1.616